<button mat-raised-button color="primary" (click)="concatOperator()">Concat</button>
<button mat-raised-button color="primary" (click)="mergeOperator()">Merge Interval Source</button>
<button mat-raised-button color="primary" (click)="concatIntervalSource()">Concat Interval Source</button>
<button mat-raised-button color="accent" (click)="mergeMouseUpAndTouchEnd()">Enable Merge Mouse Up and Touch End</button>
<button mat-raised-button color="primary" (click)="switchBasic()">Switch Test</button>
